/*author Ricardo Mook, 2021-04-28*/

.menu-button .label {
    -fx-text-fill: #000000;
}

.choice-box .label {
    -fx-text-fill: #000000;
}

.radio-button {
    -fx-text-fill: #ffffff;
}

.kick-button {
    -fx-background-color: transparent, transparent, transparent, transparent, transparent;
    -fx-pref-height: 25;
    -fx-pref-width: 25;
    -fx-min-height: 25;
    -fx-min-width: 25;
    -fx-max-height: 25;
    -fx-max-width: 25;
}

.kick-button:disabled{
    -fx-opacity: 0.3;
}

.list-view .label {
    -fx-text-fill: #000000;
}

.label {
    -fx-text-fill: #ffffff;
}

.error-label {
    -fx-text-fill: red !important;
}

.list-view{
    -fx-border-width: 6px;
}

/*Besides the "Siedler von Catan Logo" all images are from the royalty-free websides pexels.com and unsplash.com.
For more information see https://www.pexels.com/license/ and https://unsplash.com/license.*/

.login { /* Sets a new rule with the name login. When this rule is called the behaviour down below gets executed*/
    -fx-background-image: url("../textures/images/LoginBackground.jpg"), url("../textures/images/Siedler_von_Catan_Logo.jpg");
    -fx-background-size: cover, 45%; /* Sets the size for the images. Cover fills the entire screen*/
    -fx-background-repeat: no-repeat;
    -fx-background-position: top center;
}

.registration {
    -fx-background-image: url("../textures/images/RegistrationBackground.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.menuView {
    -fx-background-image: url("../textures/images/MenuBackground.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.game {
    -fx-background-image: url("../textures/images/GameBackground.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.trade {
    -fx-background-image: url("../textures/images/trading.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.settings {
    -fx-background-image: url("../textures/images/UserSettingsBackground.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.rules {
    -fx-background-image: url("../textures/images/RulesBackground.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

#summary {
    -fx-background-image: url("../textures/images/EndScreenStatsBg.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

