/*author Ricardo Mook, 2021-04-28*/

.menu-button .label{
    -fx-text-fill: black;
}

.choice-box .label{
    -fx-text-fill: black;
}

.text-field {/* Sets behaviour for the Textfield class*/
     visibility: true;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.radio-button{
    -fx-text-fill: white;
}

.list-view .label{
    -fx-text-fill: black;
}

.label{
    -fx-text-fill: white;
}

/*Besides the "Siedler von Catan Logo" all images are from the royalty-free websides pexels.com and unsplash.com.
For more information see https://www.pexels.com/license/ and https://unsplash.com/license.*/

.login {/* Sets a new rule with the name login. When this rule is called the behaviour down below gets executed*/
    -fx-background-image: url("../textures/images/LoginBackground.jpg"), url("../textures/images/Siedler_von_Catan_Logo.jpg");
    -fx-background-size: cover, 45%; /* Sets the size for the images. Cover fills the entire screen*/
    -fx-background-repeat: no-repeat;
    -fx-background-position: top center;
}

.registration {
    -fx-background-image: url("../textures/images/RegistrationBackground.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.menuView {
    -fx-background-image: url("../textures/images/MenuBackground.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.game {
    -fx-background-image: url("../textures/images/GameBackground.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.trade {
    -fx-background-image: url("../textures/images/TradeBackground.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.settings {
    -fx-background-image: url("../textures/images/UserSettingsBackground.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}
